<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true" scanPeriod="30 seconds">
    <property name = "path" value = "F:/logs/RSALogin"/>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are  by default assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%t] [%level] [%class:%line] - %m%n</pattern>
        </encoder>
    </appender>
    <!-- Rolling logs that are distinguished by date -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${path}/log.log</file>
        <encoder charset="UTF-8">
        	<immediateFlush>true</immediateFlush><!-- If you immediately empty the output stream, setting it to false improves performance, but the log can be lost -->
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%t] [%level] [%class:%line] - %m%n</pattern>
        </encoder>
        <!-- 定义只输出该级别以上的日志 -->
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${path}/log-%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- keep 30 days' worth of history -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>
    
    <!-- 将name属性值开头的jar包内的日志级别修改为level属性指定的值 --> 
	<logger name="com.alibaba" level="WARN"/>
	<logger name="org" level="WARN"/>
	<logger name="freemarker" level="WARN"/>

	<root level="debug">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
	</root>
</configuration>